# ---- C++ build artifacts (Mac/Linux) ----
a.out
*.out
*.o
*.dSYM/

# common compiled binary names
main
app
program
test
run

# ignore files without extension that are executable
# (this is important for mac/linux)
*.bin

# ---- build folders ----
build/
bin/

# ---- macOS junk ----
.DS_Store
